Options +FollowSymlinks

Options -Indexes

<FilesMatch "\.env$">
    Deny from all
</FilesMatch>

<FilesMatch "\.json$">
    Deny from all
</FilesMatch>

<FilesMatch "\.lock$">
    Deny from all
</FilesMatch>

<FilesMatch "\.(php|html|htm)$">
    <IfModule mod_headers>
        Header set Access-Control-Allow-Origin "*"
        Header set Access-Control-Allow-Methods "GET, PUT, POST, DELETE, PATCH, OPTIONS"
        Header set Access-Control-Allow-Headers "Origin, X-Requested-With, Content-Type, Accept, Authorization"
        Header set Content-Type: "application/json; charset=utf-8"
        Header set Access-Control-Allow-Credentials: "false"
    </IfModule>
</FilesMatch>

RewriteEngine on
RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteRule . - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteRule . index.php [L]